<div class="all_posts">
  <h4>All Posts</h4>

  <% @posts.each do |post| %>
  <ul>
    <li><%= post.content %></li>
    <%#= post.user.username %>
    <%= link_to post.user.username, profile_path(post.user.username) %>
    <%= link_to "#{time_ago_in_words post.created_at} ago", post_path(post) %>
  </ul>

  <% end %>
</div>