<div class="feed_index_posts">
  <h4>Scroll to see more</h4>
  <br />



  <% @posts.each do |post| %>
  
    

    <div class="feed-content">
      <%= link_to post.user.username, main_app.profile_path(post.user.username) %> Posted
      <p><%= post.content %></p>
      <%= link_to "#{time_ago_in_words post.created_at} ago", main_app.post_path(post) %>
  

    

    
      <% (0...post.images.count).each do |image| %>    
        <p><%= image_tag(post.images[image], class: "feed-style") if post.images.attached? %></p>
      <% end %>
    </div>

    
    
    
  

  <% end %>

</div>