<div class="profile-search-pg">
  <div class="panel-body">
    <% if @users.length > 0 %>
      <% @users.each do |user| %> 
      
        <%= image_tag(user.image, class: "users-img" ) if user.image.attached? %>
        <%= link_to "#{user.username}", main_app.profile_path(user.username) %>
        
        
               
      <% end %> 
  
    <% else %>
     <h3>No users found <%= "#{params[:term]}" %></h3>
     <p>try again ?</p>
     <%= render '/shared/search' %>
     
    <% end %>  
  </div>
</div>


<script>
  document.getElementById("field").value = "";
</script>