<div class="panel-body">

  <% if @users.length > 0 %>
    <% @users.each do |user| %>
      <ul>
        <li><%= image_tag(user.image, class: "image-style" ) if user.image.attached? %>
          <%= link_to "#{user.username}", main_app.profile_path(user.username) %>
        </li>
      </ul> 
    <% end %> 

  <% else %>

   <h3>No results found for <%= "#{params[:term]}" %></h3>
   <p>try again</p>
   <%= render '/shared/search' %>
   
  <% end %>
  
</div>

<script>
  document.getElementById("field").value = "";
</script>