

  <p><em><%= comment.user.name %> commented: </em></p>
  <p><%= comment.content %></p>

  <% if @moderate %>
    <%= link_to 'Delete comment', main_app.comment_path(comment), method: :delete, class: "btn btn-default" %>
  <% end %>
  
