<br /> 

<p><%= link_to notification.actor.username, main_app.profile_path(notification.actor.username) %>     
    has commented in:  
<%= link_to notification.second_target.content, main_app.post_path(notification.second_target) %>



<br/>
saying "
<%= notification.target.content %> "
</p>