<!-- navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">

  <div class="container-fluid navbar-nav collapse navbar-collapse">
      
    <ul>
      <li class="home-link"><%= link_to "The Social Feed", root_path %></li>
      

      <% if user_signed_in? %> 
      
                    
        
        <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>   
        

      <% else %>

        <li><%= link_to "Login", new_user_session_path %></li>
        <li><%= link_to "Create Account", new_user_registration_path %></li>

      <% end %>

    </ul>

  </div>

</nav>
