/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .panel-heading {
   margin: 7vh 0;
 }
 
.panel-body {
  margin: 7vh 3vw;
}

.icon {
  height: 5vh;
  width: 5vw;
}

.page-header {
  margin-left: 15vw;
}

.all_posts {    
  background-color: #D1E8E2;
}

.devise-form {

  display: flex;
  justify-content: center; 
  background-image: url(background.jpg);
  background-size: cover; 
  height: 90vh;
  
  h2 {
    margin-top: 8vh;
    color: #C5C6C7;
  }

  #devise-field {
    margin-bottom: 2vh;
    font-family: 'Roboto', sans-serif;    

    .devise {
      width: 20vw;
      border-radius: 8px; 
      border: solid 3px #1F2833;  
      resize: none;
      outline: none;
    }
  }
}

.notifications {

  .heading {
    margin: 5vh 0;    
  }
  
  display: flex;
  justify-content: center; 
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  
}

.pagination {
  margin-left: 10vh;
  margin-bottom: 5vh;
}