// Place all the styles related to the Comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.cmtbtn {    
  color: #CFC6C7;
  background-color: #1F2833;
  font-family: 'Roboto', sans-serif; 
  border-radius: 13px;
  border: solid #1F2833;
}

.cmtbtn:hover, .cmtbtn:focus, .cmtbtn:visited, .cmtbtn:active {
  color: #CFC6C7;
}

.comment-partial {
  margin: 10vh 0;
  width: 40vw;
  
  

  .userlink {
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    text-decoration-line:none;
    color: #116466
  }

  .comment-content {
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    color: #1F2833;
    font-size: larger;
    
  }
 hr {
  color:#123C69;
 }

}