// Place all the styles related to the Profiles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post-form {   
  display: flex;
  justify-content: center;   
  height: 90vh;
  background-color: #BAB2B5;
  h1 {
    margin-top: 4vh;
  }

  #post-field {
    margin-top: 8vh;
    margin-bottom: 2vh;
    font-family: 'Roboto', sans-serif; 
    flex-direction: column; 
    

    .post-content {
      width: 40vw;
      height: 15vh;
      border-radius: 8px; 
      border: solid 3px #1F2833;  
      resize: none;
      outline: none;
    }

    .image-content {
      margin: 1vh 0;
    }
  }
}

.user-bio{
  display: flex;
  background-color: #2C3531;
  

  .profile-image {
  height: 190px;
  width: 190px;
  margin: 3vh 6vw;
  border-radius: 50%; 
  }

  .user-info {
    color: #D9B08C;
    font-size: 3.5vh;
    font-family: 'Roboto', sans-serif; 
    text-align: center;
    margin: 9vh 3vw;
    width: 20vw;
    height: 10vh;
    border-radius: 8px; 
    
    resize: none;
    outline: none;
  }
}

.user-options-btns{
  margin: 10vh 10vw;
  background-color: #D1E8E2;
}

.profile-search-pg {
  background-color: #D9B08C;
  width: 100vw;
  height: 100vw;
  .panel-body{
    margin: 10vh 10vw; 
    

    .users-img {
      height: 100px;
      width: 100px;
      border-radius: 50%;
    }

    a {
      text-decoration: none;
      font-family: 'Roboto', sans-serif;
      font-weight: 600;    
      color: #116466;
    }

    a:hover {
      color: #116466;
    } 
    
    
  }
}
